.loader{
    text-align: center;
    
    & div{
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: black;
        border-radius: 50%;
        animation: bounce-loader 1.6s infinite;
    
        @for $i from 1 through 3{
            &:nth-child(#{$i}){
                animation-delay: -0.3s / $i;
            }
    }
    }

}

@keyframes bounce-loader{
    0%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
    80%{
        transform: scale(0);
    }
    100%{
        transform: scale(0);
    }
}