#container {
  text-align: center;

  & .slide-button {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 5px 0;
    border: 2px solid black;
    font-weight: 600;
    transition: all 0.5s;
    overflow: hidden;

    &::before {
      position: absolute;
      content: " ";
      width: 100%;
      height: 100%;
      background-color: black;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: transform 0.5s;
      z-index: -1;
    }

    &:hover{
        color: white;

        &::before {
            transform: none;
        }
    }
  }
}
